.alerter-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    min-width: 200px;
    min-height: 200px;
    padding: 20px;
    display: flex;
    border: 2px solid #FF5733;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.alerter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}


.close-alerter {
    background: #ff4d4f;
    color: #fff;
    border: none;
    max-height: 50px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s;
    
}

.close-alerter:hover {
    background: #e04343;
}

.alerter-body {
    font-size: 1.2em;
}