/*StudentContainer.css*/

.studentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-items: flex-start; 
    gap: 10px; 
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
}

.studentSummary {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.studentName {
    font-size: 1.2em;
    font-weight: bold;
}

.studentContainer span {
    margin-bottom: 5px;
}

.studentDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.studentItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}