/*tutorDashboard.css*/

.studentList {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 15px; /* Adjust gap for larger spacing between student containers */
    max-height: 300px;
}

.allschools {
    display: flex;
    flex: 2;
}