.round-container-dragDrop {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    background: #D1C4E9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px
}

.timerButton-Group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.timer {
    font-weight: normal;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.drag-drop-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000; 
    background-color: #e8e8e8;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.drag-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.draggable {
    padding: 15px 25px;
    background: #6a5acd;
    border: 2px solid #4b0082;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: grab;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.draggable:hover {
    background: #483d8b;
}

.drop-zones {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.drop-zone {
    width: 120px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px dashed #ffcc00;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.drop-zone:hover {
    background: rgba(255, 255, 255, 0.2);
}

.drop-zone.occupied {
    background: rgba(255, 255, 255, 0.3);
}

.submit-answer {
    margin-top: 20px;
    padding: 25px 45px;
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-answer:hover {
    background: #ff9900;
}